* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
	display: block;
}
html,
body {
	height: 100%;
	min-width: 320px;
	line-height: 1;
	font-size: 14px;
	color: #252b42;
	font-family: Montserrat;
	font-weight: 500;
	background-color: #fafafa;
}
input,
button,
textarea {
	font-family: Montserrat;
	font-size: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/*-------------------------------------------------------------------------------------*/
._container {
	max-width: 1050px;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: content-box;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/*-header----------------------------------------------------------------------------*/

.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}

.header__logo {
	font-size: 24px;
	letter-spacing: 0.1px;
	color: inherit;
	font-weight: 700;
}
.header__menu {
	margin: 0px 0px 0px 132px;
}
.menu {
	padding: 5px 0;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__item:not(:last-child) {
	margin: 0px 21px 0px 0px;
}
.menu__link {
	color: #737373;
	font-weight: 600;
	line-height: calc(24 / 14 * 100%);
	letter-spacing: 0.2px;
	transition: all 0.5s ease 0s;
}
@media (any-hover: hover) {
	.menu__link:hover {
		color: #0d5c63;
	}
}

.header__menu {
	margin: 0px 0px 0px 20px;
}
.menu__list {
	font-size: 18px;
}

/*-page----------------------------------------------------------------------------*/
.page {
	flex: 1 1 auto;
}
.page__top {
}
.page__services {
	position: relative;
	z-index: 2;
	margin: -111px 0px 0px 0px;
}

.page__experience {
}

.page__advice {
}

.page__whoweare {
}
.page__clients:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.page__subscribe {
}
.page__getintouch {
}
.page__contact {
}

/*-------------------------------------------------------------------------------------*/
.header-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.header-title__title {
	font-weight: 700;
	font-size: 40px;
	line-height: calc(57 / 40 * 100%);
	letter-spacing: 0.2px;
	text-align: center;
	margin: 0px 0px 10px 0px;
}
.header-title__sub-title {
	max-width: 512px;
	line-height: calc(20 / 14 * 100%);
	color: #737373;
	letter-spacing: 0.2px;
	text-align: center;
}
/*-footer----------------------------------------------------------------------------*/
.footer {
}
.footer__top {
	background-color: #17213C;
	padding: 35px 0px;
}
.footer__main {
	
}
.footer__row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.footer__column {
	flex: 0 1 16.667%;
	padding: 15px 15px;
}
.footer__column:last-child{
	flex: 0 1 33.334%;
}
.footer__title {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: calc(24 / 16 * 100%);
	margin: 0px 0px 20px 0px;
}
.footer__menu {
	
}
.menu-footer {
	color: #fff;
}
.menu-footer__list {
}
.menu-footer__item:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.menu-footer__link {
	display: inline-block;
	color: inherit;
	line-height: calc(24 / 14 * 100%);
	letter-spacing: 0.2px;
}
.menu-footer__link:hover{
	text-decoration: underline;
}

.footer__contacts {
	
}
.contacts-footer {
	display: flex;
	flex-direction: column;
}
.contacts-footer__item{
	display: flex;
	align-items: center;
	min-height: 30px;
	color: #fff;
	line-height: calc( 24/ 14 * 100%);
	padding: 0px 0px 0px 34px;
}
.contacts-footer__item:not(:last-child) {
	margin: 0px 0px 12px 0px;
	
}
.contacts-footer__item:hover{
	text-decoration: underline;
}
.contacts-footer__item--phone {
	background: url('../img/footer/img-1.svg') 0 0 no-repeat;
}
.contacts-footer__item--map {
		background: url('../img/footer/img-2.svg') 0 0 no-repeat;
}
.contacts-footer__item--email {
		background: url('../img/footer/img-3.svg') 0 0 no-repeat;
}

.footer__bottom {
	padding: 25px 0;
}
.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__copy {
	line-height: calc(24 / 14 * 100%);
	color: #737373;
	letter-spacing: 0.2px;
}
.footer__social {

}
.social-footer{
	display: flex;
	align-items: center;
	
}
.social-footer__item:not(:last-child) {
	margin: 0px 20px 0px 0px;
	
}

/*-.top----------------------------------------------------------------------------*/
.top {
	position: relative;
}
.top__container {
}
.top__content {
	max-width: 400px;
	padding: 184px 0px 191px 0px;
	position: relative;
	z-index: 2;
}
.top__title {
	font-weight: 800;
	font-size: 58px;
	line-height: calc(80 / 58 * 100%);
	letter-spacing: 0.2px;
}
.top__content > *:not(:last-child) {
	margin: 0px 0px 35px 0px;
}
.top__text {
	font-weight: 500;
	font-size: 20px;
	line-height: calc(30 / 20 * 100%);
	letter-spacing: 0.2px;
	color: #737373;
}
.top__buttons {
	display: flex;
	flex-wrap: wrap;
	margin: -10px 0px;
}
.top__button {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 48px;
	padding: 5px 36px;
	border-radius: 37px;
	line-height: calc(28 / 14 * 100%);
	letter-spacing: 0.2px;
	font-weight: 700;
	margin: 10px 0;
	transition: background-color 0.5s ease 0s;
}

@media (min-width: 479px) {
	.top__button:not(:last-child) {
		margin-right: 10px;
	}
}

.top__button--orange {
	background-color: #ff7b47;
	color: #fff;
}
@media (any-hover: hover) {
	.top__button--orange:hover {
		background-color: #c4572c;
	}
}
.top__button--border {
	border: 1px solid #0d5c63;
	color: #0d5c63;
}
@media (any-hover: hover) {
	.top__button--border:hover {
		border: 1px solid #28cfdf;
		color: #28cfdf;
	}
}
.top__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/*--services-------------------------------------------------------------------*/

.services {
}
.services__container {
}

.services__body {
}
.services__column {
	flex: 0 1 33.333%;
	margin: 0px 0px 30px 0px;
}

.services__item {
	height: 100%;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	background-color: #fff;
	padding: 35px;
	transition: all 0.5s ease 0s;
}
@media (any-hover: hover) {
	.services__item:hover {
		background-color: #0d5c63;
		color: #fff;
	}
	.services__item:hover > .item-services__text {
		color: #fff;
	}
	.services__item:hover > .item-services__icon > svg path {
		transition: fill 0.5s ease 0s;
		fill: #fff;
	}
}

.item-services {
}

.item-services > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.item-services__icon {
}
.item-services__title {
	font-size: 24px;
	letter-spacing: 0.1px;
	font-weight: 700;
	line-height: calc(32 / 24 * 100%);
}
.item-services__text {
	line-height: calc(20 / 14 * 100%);
	letter-spacing: 0.2px;
	color: #737373;
	transition: color 0.5s ease 0s;
}

/*-------------------------------------------------------------------------------------*/

.experience {
	padding: 80px 0;
	background-color: #fafafa;
}
.experience__container {
}
.experience__header {
	margin: 0px 0px 50px 0px;
}
.experience__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px -30px;
}
.experience__column {
	flex: 0 1 25%;
	padding: 0 15px;
	margin: 0px 0px 30px 0px;
}
.experience__item {
	padding: 35px;
	background-color: #fff;
	text-align: center;
	font-weight: 700;
}
.experience__item > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.experience__icon {
	height: 48px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.experience__value {
	font-size: 40px;
	line-height: calc(57 / 40 * 100%);
	letter-spacing: 0.2px;
}
.experience__text {
	font-size: 16px;
	line-height: calc(24 / 16 * 100%);
	letter-spacing: 0.1px;
	color: #737373;
}

/*-------------------------------------------------------------------------------------*/

.advice {
	padding: 45px 0px 80px 0px;
}
.advice__container {
}
.advice__title {
	margin: 0px 0px 45px 0px;
}
.advice__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px -40px;
}
.advice__column {
	flex: 0 0 25%;
	padding: 0 20px 40px;
}
.advice__item {
}
.item-advice {
	height: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
}
.item-advice__content {
	padding: 30px;
	flex: 1 1 auto;
}
.item-advice__link {
	display: inline-block;
	color: inherit;
}
.item-advice__link:hover {
	text-decoration: underline;
}
.item-advice__link:not(:last-child) {
	margin: 0px 0px 15px 0px;
}
.item-advice__title {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.1px;
	line-height: calc(24 / 16 * 100%);
}
.item-advice__text {
	line-height: calc(20 / 14 * 100%);
	letter-spacing: 0.2px;
	color: #737373;
}
.item-advice__image {
	display: block;
	padding: 0px 0px 60% 0px;
}
/*-------------------------------------------------------------------------------------*/

.whoweare {
	padding: 80px 0px 130px 0px;
	background-color: #fff;
}
.whoweare__container {
}

.whoweare__header {
	margin: 0px 0px 100px 0px;
}

.whoweare__body {
	display: flex;
	align-items: flex-start;
}
.whoweare__video {
	flex: 0 0 57%;
	position: relative;
	padding: 0px 0px 42.25% 0px;
}
.whoweare__video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.whoweare__content {
	flex: 1 1 auto;
	padding: 20px 0px 0px 121px;
}
.whoweare__top:not(:last-child) {
	margin: 0px 0px 50px 0px;
}
.whoweare__title {
	font-size: 40px;
	font-weight: 700;
	line-height: calc(57 / 40 * 100%);
	letter-spacing: 0.2px;
}
.whoweare__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.whoweare__text {
	line-height: calc(20 / 14 * 100%);
	letter-spacing: 0.2px;
	color: #737373;
}

.whoweare__items {
}
.whoweare__item {
}
.item-whoweare {
	display: flex;
}
.item-whoweare:not(:last-child) {
	margin: 0px 0px 30px 0px;
}
.item-whoweare__icon {
	flex: 0 0 32px;
}
.item-whoweare__body {
	flex: 1 1 auto;
	padding: 0px 0px 0px 20px;
}
.item-whoweare__title {
	font-size: 16px;
	font-weight: 800;
	line-height: calc(24 / 16 * 100%);
	letter-spacing: 0.1px;
}
.item-whoweare__title:not(:last-child) {
	margin: 0px 0px 5px 0px;
}
.item-whoweare__text {
	font-weight: 600;
	line-height: calc(24 / 14 * 100%);
	letter-spacing: 0.2px;
}

/*-.clients------------------------------------------------------------------------------------*/

.clients {
	padding: 50px 0;
}
.clients__container {
}

.clients__items {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.clients__item {
	flex: 0 1 16.667%;
	text-align: center;
	padding: 8px 15px;
	min-width: 120px;
}
.clients__item > img {
	max-width: 100%;
}

/*---.subscribe----------------------------------------------------------------------------------*/
.subscribe {
	position: relative;
	padding: 0px 0px 20px 0px;
}
.subscribe:before {
	content: "";
	position: absolute;
	background-color: #252b42;
	bottom: 0;
	width: 100%;
	height: 77px;
	left: 0;
}
.subscribe__container {
}
.subscribe__body {
	padding: 30px 50px;
	background-color: #17213c;
	border-radius: 2px;
	position: relative;
	z-index: 5;
}
.subscribe__title {
	font-size: 24px;
	line-height: calc(32 / 24 * 100%);
	font-weight: 700;
	letter-spacing: 0.1px;
	color: #fff;
}
.subscribe__form {
	flex: 0 1 50%;
	display: flex;
	align-items: center;
}
.subscribe__input {
	flex: 1 1 auto;
	width: 100%;
	min-height: 58px;
	border-radius: 5px 0 0 5px;
	padding: 0 20px;
	background: #f9f9f9;
	border: 1px solid #e6e6e6;
	color: #737373;
}
.subscribe__input:focus {
	color: #000;
}
.subscribe__button {
	min-height: 58px;
	padding: 0 22.5px;
	background: #ff7b47;
	border: 1px solid #e6e6e6;
	border-radius: 0px 5px 5px 0px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #fff;
	transition: all 0.5s ease 0s;
}
@media (any-hover: hover) {
	.subscribe__button:hover {
		background-color: #c4572c;
	}
}

/*-------------------------------------------------------------------------------------*/

.getintouch {
	padding: 80px 0px 145px 0px;
	background-color: #f3f3f3;
}
.getintouch__container {
}
.getintouch__header {
	margin: 0px 0px 80px 0px;
}
.getintouch__items {
	margin: 0 -15px;
}

.getintouch__item{
	flex: 0 1 33.333%;
}
.item-getintouch {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	padding: 50px 15px;
	transition: all 0.5s ease 0s;
}
.item-getintouch > *:not(:last-child) {
	margin: 0px 0px 15px 0px;
}
.item-getintouch__icon {
}
.item-getintouch__emails {
	display: flex;
	flex-direction: column;
 }
.item-getintouch__email {
	color: inherit;
	font-weight: 600;
	line-height: calc(24 / 14 * 100%);
	letter-spacing: 0.2px;
}
@media (any-hover: hover) {
	.item-getintouch__email:hover {
		text-decoration: underline;
	}
}
.item-getintouch__label {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.2px;
}
.item-getintouch__button {
	min-height: 44px;
	padding: 5px 20px;
	color: #ff7b47;
	font-weight: 600;
	line-height: 150%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ff7b47;
	border-radius: 5px;
	transition: all 0.5s ease 0s;
}
@media (any-hover: hover) {
	.item-getintouch__button:hover {
		color: #fff;
		background-color: #ff7b47;
	}
	.item-getintouch:hover {
		background-color: #252b42;
		padding: 80px 15px;
		color: #fff;
	}
	.item-getintouch:hover > .item-getintouch__button {
		border-color: #fff;
		color: #fff;
	}
	.item-getintouch:hover > .item-getintouch__icon > svg > path {
		fill: #fff;
	}
}
/*--.contact-----------------------------------------------------------------------------------*/
.contact{
	padding: 40px 0;
	background-color: #fafafa;
}
.contact__container {
}
 
.contact__content {
	padding: 0px 0px 20px 0px;
}
.contact__title {
	font-size: 24px;
	font-weight: 700;
	line-height: calc(32 / 24 * 100%);
	letter-spacing: 0.1px;
	margin: 0px 0px 10px 0px;

}
.contact__text {
	line-height: calc(20 / 14 * 100%);
	letter-spacing: 0.2px;
}
.contact__button {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 58px;
	padding: 5px 40px;
	color: #fff;
	line-height: calc(28 / 14 * 100%);
	letter-spacing: 0.2px;
	background-color: #FF7B47;
	border-radius: 5px;
	transition: background-color 0.5s ease 0s;
}
.contact__button:hover{
	background-color: #c4572c;
}
/*---@media-----------------------------------------------------------------------*/
@media (max-width: 1300px) {
	.top__image img {
		object-position: right;
	}
}

@media (min-width: 1070px) {
	.subscribe__body {
		margin: 0 30px;
	}
}
@media (max-width: 1050px) {
	.experience__column {
		flex: 0 1 50%;
	}
	.advice__body {
		margin: 0 15px -30px;
	}
	.advice__column {
		flex: 0 0 50%;
		padding: 0 15px 30px;
	}
	.whoweare__content {
		padding: 0px 0px 0px 50px;
	}
}
@media (min-width: 992px) {
	.getintouch__items {
		margin: 0 30px;
		display: flex;
		align-items: center;
	}
}
@media(max-width: 996px){
	.footer__column {
		flex: 0 1 25%;
	}
	.footer__column:last-child{
		flex: 0 1 100%;
	}
}
@media (max-width: 992px) {
	.header__menu {
		margin: 0px 0px 0px 80px;
	}
	.top__content {
		padding: 120px 0px 191px 0px;
	}
	.services__column {
		flex: 0 1 50%;
	}
	.services__column:last-child {
		flex: 1 1 100%;
	}
	.experience {
		padding: 30px 0;
	}
	.header-title__title {
		font-size: 30px;
	}
	.getintouch {
		padding: 50px 0px 50px 0px;
	}
	.getintouch__header {
		margin: 0px 0px 40px 0px;
	}
	.getintouch__item:not(:last-child){
		margin: 0px 0px 20px 0px;
	}
}
@media (max-width: 950px) {
	.whoweare {
		padding: 20px 0px 30px 0px;
	}
	.whoweare__header {
		margin: 0px 0px 30px 0px;
	}
	.whoweare__title {
		font-size: 24px;
	}

	.whoweare__body {
		flex-direction: column-reverse;
		align-items: stretch;
	}
	.whoweare__content {
		padding: 0px 0px 0px 0px;
	}
	.whoweare__video {
		padding: 0px 0px 56.25% 0px;
	}
	.whoweare__video:not(:last-child) {
		margin: 30px 0px 0px 0px;
	}
}
@media (min-width: 800px) {
	.subscribe__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.subscribe__title {
		max-width: 266px;
	}
}
@media (max-width: 800px) {
	.subscribe__body {
		margin: 0 -15px;
		padding: 20px 15px;
	}
	.subscribe__title {
		margin: 0px 0px 20px 0px;
		font-size: 20px;
	}
	.subscribe__button {
		padding: 0 14px;
	}
}
@media(min-width: 768px){
	.contact__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.contact__content{
		padding: 0px 20px 0px 0px;
	}
}
@media (max-width: 767px) {
	.header__menu {
		margin: 0px 0px 0px 40px;
	}
	.top__image {
		opacity: 0.5;
	}
	.experience__header {
		margin: 0px 0px 30px 0px;
	}
	.advice {
		padding: 10px 0px 40px 0px;
	}
	.advice__title {
		margin: 0px 0px 25px 0px;
	}
	.item-advice__content {
		padding: 20px;
	}
	.whoweare__top:not(:last-child) {
		margin: 0px 0px 30px 0px;
	}
	.clients {
		padding: 30px 0;
	}
	.contact__title{
		font-size: 20px;
		text-align: center;
	}
	.footer__container{
		flex-direction: column;
	}
	.footer__copy{
		text-align: center;
		margin: 0px 0px 15px 0px;
	}
}
@media(max-width: 710px){
	.footer__column {
		flex: 0 1 50%;
	}
}
@media (min-width: 670px) {
	.services__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px -30px;
	}
	.services__column {
		padding: 0 15px;
	}
}
@media (max-width: 630px) {
	.advice__column {
		flex: 0 0 100%;
	}
}
@media (max-width: 560px) {
	.experience__column {
		flex: 0 1 100%;
	}
}
@media (max-width: 479px) {
	.header__container {
		min-height: 70px;
	}
	.top__content {
		padding: 115px 0px 160px 0px;
	}
	.top__title {
		font-size: 42px;
	}
	.top__text {
		color: #464444;
	}
	.top__button {
		flex: 1 1 100%;
	}
	.services__item {
		padding: 25px;
	}
}
@media(max-width: 367px){
	.subscribe__title{
		text-align: center;
	}
}
@media (max-width: 340px) {
	.header__menu {
		margin: 0 0 0 24px;
	}
	.whoweare__title{
		text-align: center;
	}
}
